.layout {
    
    /*width: 300px;*/
    border: 2px solid black;
    padding: 25px;
    margin: 25px;
}

.backgr_color
{
background-color: #1e73be;
width: 100%;
}
.bordrad
{
	border-radius: 100px;
}
.bora
{
	border-radius: 50px;
}
.al
{
	width:800px;
	 margin:0 auto;
}


  .career-slider{
    background:url(../images/career.jpg) center no-repeat;
    background-size:cover
}

.banner-area {
	
	padding-bottom:40px;
}
/*
.banner-area .home-wrapper {
	position: relative;
    display: inline-block;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	left: 0;
	right: 0;
}*/
.careers
{
	text-transform: none;
        position: relative;
    display: inline-block;
}
.careers h1
{
	font-size: 50px;
	color: #cdcfd1;

}
.lookk
{
    padding-bottom: 40px;
     padding-top: 40px;
     background-color: #3380c4;
}
.careers p
{
	line-height: 2;
	font-size: 25px;
	color: #cdcfd1;
}
.padtop
{
	padding-top: 130px;
}
#home {
	
	text-transform:uppercase;
}
.cf
{
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 100px;
    padding-bottom: 40px;
}
.cf1
{
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 40px;

    }
.head
{
	font-weight: 400;
}
.bg-image {
	background-image:url(../images/career.jpg);
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-position:center;
	background-size:cover;
	z-index:-1;
	height: 400px;
}

/*.bg-image.bg-parallax {
	background-attachment:fixed;
}*/
.wei
{
  
    font-size: 20px;
}

.marg
{
     border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px,5px,5px,5px;
     margin-bottom: 20px;
}
.bg-image.overlay:after {
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	opacity: 0.7;
	background-color:#000;
}

/*.dropdown{
    display:inline-block
}*/
.fixed-top.scrolled {
  background-color: #337ab7!important;
  transition: background-color 200ms linear;
}
.helo a,.helo a:hover{
    color:#fff
}
.dropdown-content{
	background-color:rgba(17,89,152,.9);
    left:-44px
}

.dropdown-content a:hover{
    background-color:#0b4171
}
.dropdown-content a{
    color:#fff;
    padding:12px 16px;
    display:block;
    font-size:13px
}
.txt
{
    font-size: 15px;
    line-height: 30px;
}
 .bdg{
    background:#fcfcfc;

    border:1px solid #eee;
    font-size:14px;
    margin-bottom:20px
}
footer .address p{
    line-height:27px
}
footer .address p strong{
    font-weight:500
}
.bdg .img, .bdg .tit{
    display:inline-block;
    vertical-align:middle
}

 .des 
{
     font-weight: normal;

}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.mle
{
    margin-left: auto;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}



footer{
    padding:15px 0 0;
    background:#333
}
footer::before{
    position:absolute;
    bottom:0;
    right:0;
    background-size:100%;
    opacity:.11;
    z-index:0
}
.footer-links{
    padding-bottom:20px
}
footer span{
    margin-right:10px
}

footer h5{
    color:rgba(255,255,255,0.5);
    padding:10px 0;
    margin-bottom:25px;
    border-bottom:1px solid rgba(102,102,102,.3);
     border-bottom-width: medium;
}


footer h6,.footer-bot p{
	font-size: 15px;
    color:rgba(255,255,255,0.3);
  
}
footer ul li{
    display:block;
    font-size:15px;
    margin-bottom:15px
}
footer p,footer ul li a{
    color:rgba(255,255,255,.6);

 
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
 .des1
{
     font-weight: 100;

}
.plh
{
    padding-left: 34px;
}

.apa
{
    padding-right: 80px;
    padding-left: 80px;
}

footer ul li a:hover{
    color:#fff

}
footer .address ul{
    display:inline-block;
    margin-right:10px
}

.footer-bot{
    background:rgba(73,73,73,.3);
    padding:5px 5px 0
}


.l
{
	 text-align: center;
}