.dnone
{
    display: none;
}
body {
   background-image: url("../images/ship.jpg");
}
.login-main {
    background:rgba(2, 2, 2, 0.47);
    min-height: 700px;
}
.spac
{
    padding: 1.5em 0 100px;

}

.login-form {
    width: 25%;
    margin: 3em auto 0;
    padding: 30px;
    background: rgba(0, 0, 0, 0.72);
}
.login-form i {
    font-size: 15px;
    text-align: center;
    border: 1px solid #00a9a9;
    width: 10%;
    padding: 6px;
    float: left;
    line-height: 1.6;
    background: #00a9a9;
    color: #fff;
}
.login-form input[type="text"],.login-form input[type="password"]{ 
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    /*text-transform: capitalize;*/
    letter-spacing: 1px;
    padding: 6px;
    width: 90%;
    border: none;
    outline: none;
    box-sizing: border-box;
	background: #fff;
    float: left;
    line-height: 1.75;
    margin: 0 0 30px 0;
}
.bu {
    font-size: 20px !important;
    font-weight: 500 !important;
    text-align: center !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 35%;
    padding: 4px;
    margin: 0px 72px 20px;
    display: block!important;
    border: none !important;
    outline: none;
    background: #00a9a9;
    color: #fff;
    cursor: pointer;
}
.login-form h2 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 0 30px 0;
    color: #f3f5f8;
    margin: 0;
}
.login-password a {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    display: block;
    letter-spacing: 1px;
    margin: 25px 0;
    padding: 0;
}
.socia{
	text-align:center;
}
.socia ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.socia li {
    display: inline-block;
    padding: 0 10px 0 0;
}
.socia i {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    width: 33px;
    height: 33px;
    display: block;
    line-height: 1;
    background: none;
    border: 2px solid #fff;
}
.socia i.fab.fa-facebook-f:hover {
    background: #3b5998;
    color: #fff;
    transition: 0.5s ease-in;
}
.socia i.fab.fa-twitter:hover {
    background: #1da1f2;
    color: #fff;
    transition: 0.5s ease-in;
}
.socia.fab.fa-google-plus-g:hover {
    background: #dd4b39;
    color: #fff;
    transition: 0.5s ease-in;
}
p a
{
	text-decoration: none !important;
}
